apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: models-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
  volumeName: triton-models-volume